# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dotenv 환경파일
.env
.env.*

# Next.js / Vite / Build output
.next/
dist/
build/

# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# npm
package-lock.json
yarn.lock
pnpm-lock.yaml